[Desktop Entry]

Type=Application
Version=1.0
Name=SimpleTaskQueue
Comment=A simple task queue
Path=/usr/bin
Exec=SimpleTaskQueue
Icon=/path/to/your/STQ.ico
Terminal=false
Categories=Utility;
